

*{
    box-sizing: border-box;
}

body{
    background-image: url("1.jpg");
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 200px;
}

.toggle{
    visibility: hidden;
}

label{
    background-color: lavender;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block ;
    margin: 0 15px 0 ;
    width: 80px;
    height: 40px;
}

.toggle:checked + .lable {
    background-color: darkorchid;
}

.ball{
    border-radius: 50%;
    background-color: aliceblue;
    height: 35px;
    width: 35px;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 2px;
    left: 4px;
    animation: slideOff 0.3s linear forwards;
}

.toggle:checked + .lable .ball {
    animation: slideOn 0.3s linear forwards;
}

@keyframes slideOn {
    0%{
        transform: translateX(0) scale(1);
    }
    50%{
        transform: translateX(20px) scale(1.2);
    }
    100%{
        transform: translateX(40px) scale(1);
    }
}

@keyframes slideOff {
    0%{
        transform: translateX(40px) scale(1);
    }
    50%{
        transform: translateX(20px) scale(1.2);
    }
    100%{
        transform: translateX(0) scale(1);
    }
}

